!!! 5
html
  head
    title Madlib Thinkful Title
    link(href="css/styles.css", rel="stylesheet")

  body
    h1 Hello, Madlib Thinkful
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
