!!! 5
html(ng-app="madLibApp")
  head
    title Madlib Thinkful Title
    link(href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700", rel="stylesheet")
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")

  body
    .container(ng-controller="InputValueHandler")
      header
        .row
          .col-sm-4.border-right
            img.img-responsive.img-block(src="img/mad-lib-happy-face.png")
          .col-sm-8
            img.img-responsive.img-block(src="img/ng-mad-libs-logo.png")
            h1 Automate This!

      form(ng-submit="submitForm()", novalidate, name="madLibForm", ng-hide="showResults")
        h2 Provide the following words:
        .row
          .col-sm-4
            label.radio-inline
              input(type="radio", value="male", name="gender", ng-model="gender", required)
              | Male
            label.radio-inline
              input(type="radio", value="female", name="gender", ng-model="gender", required)
              | Female
        .row
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Name", ng-model="values.name", required, name="name")
              .error(ng-show="checkRequiredError('name')") Please input a name
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Dirty task", ng-model="values.dirty_task", required, name="dirty_task")
              .error(ng-show="checkRequiredError('dirty_task')") Please write a dirty task
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Obnoxious celebrity", ng-model="values.obnoxious_celebrity", required, name="obnoxious_celebrity")
              .error(ng-show="checkRequiredError('obnoxious_celebrity')") Please name an obnoxious celebrity

        .row
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Job title", ng-model="values.job_title", required, name="job_title")
              .error(ng-show="checkRequiredError('job_title')") Please write a job title
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Celebrity", ng-model="values.celebrity", required, name="celebrity")
              .error(ng-show="checkRequiredError('celebrity')") Please name another celebrity
          .col-sm-4
            .form-group
              input.form-control(type="number", placeholder="Huge number", ng-model="values.huge_number", required, name="huge_number")
              .error(ng-show="checkRequiredError('huge_number')") Don't leave this blank
              .error(ng-show="checkIfNumber('huge_number')") Write a number, please.

        .row
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Tedious task", ng-model="values.tedious_task", required, name="tedious_task")
              .error(ng-show="checkRequiredError('tedious_task')") Please write a tedious task
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Useless skill", ng-model="values.useless_skill", required, name="useless_skill")
              .error(ng-show="checkRequiredError('useless_skill')") Please write a useless skill
          .col-sm-4
            .form-group
              input.form-control(type="text", placeholder="Adjective", ng-model="values.adjective", required, name="adjective")
              .error(ng-show="checkRequiredError('adjective')") Please write an adjective
        .row
          .col-sm-4.col-sm-pull-4.col-sm-push-4
            input#submit.btn.btn-primary.btn-lg.btn-block(type="submit", value="Generate My Madlibs!")
              | Generate My Madlibs!

      .content(ng-if="showResults")
        .row
          .col-sm-8.col-sm-pull-2.col-sm-push-2
            p {{ values.name}} was a {{ values.job_title }} who loved technology. Although {{ heOrShe() }} loved parts of {{ hisOrHer() }} job, {{ heOrShe() }} absolutely hated {{ values.tedious_task }} and {{ values.dirty_task }}. So, {{ values.name}} met with {{ hisOrHer() }} life mentor {{ values.celebrity }} who told {{ himOrHer() }} how to learn {{ values.useless_skill }} with Thinkful. Thinkful didn't offer a course on {{ values.useless_skill }} so {{ heOrShe() }} studied programming instead.
            p What a great decision! With {{ hisOrHer() }} new skills, {{ values.name }} built a(n) {{ values.adjective }} robot named {{ values.obnoxious_celebrity }} that not only loved {{ values.dirty_task }} but did it {{ values.huge_number }} times faster.

            button#reset.btn.btn-primary(ng-click="resetForm()") Want to try again?

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js")
    script(src="js/madLibApp.js")
